{
    "parserOptions": {
        "ecmaVersion": 2019,
        "sourceType": "module",
        "ecmaFeatures": {
            "jsx": true
        }
    },
    // can extend multiple configurations, which are valid from right to left
    // eslint-config-prettier, disables any rules that prettier renders useless
    "extends": ["eslint:recommended", "eslint-config-prettier"],
    "rules": {
        "strict": ["error", "never"]
    },
    "env": {
        // avoids 'console' is not defined rule
        "browser": true
    }
}